* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    padding: 10px 10%;
}


nav p {
    font-size: 45px;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background: transparent; 
    padding: 20px 40px; 
    transition: all 0.6s ease; 
    z-index: 1000; 
}

nav.scrolled {
    background-color: transparent; 
    backdrop-filter: blur(10px); 
    text-shadow: 2px 2px 5px rgba(233, 233, 233, 0.5);
    padding: 10px 20px; 
    /* box-shadow: 0 4px 6px rgba(24, 79, 244, 0.1);  */
}

nav p {
    transition: font-size 0.3s ease; /* Smooth transition for the logo font size */
    
}

nav.scrolled p {
    font-size: 35px; 
    font-weight: 500;

    
}
nav.scrolled ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
}


.header-text {
    margin-top: 30vh;
    font-size: 30px;
}

.header-text h1 {
    font-size: 50px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #04cff3;
}
/* .....................ABOUT....................... */
#about {
    padding: 70px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    height: 380px;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.subtitle {
    font-size: 50px;
    font-weight: 550;
    font-family: serif;
    color: #fff;
}

.tab-title {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: aqua;
    right: 0;
    position: absolute;
    bottom: -6px;
    transition: all 0.5s ease;
}

.tab-links.active-link::after {
    width: 70%;
}

.tabContents {
    list-style: none;
    margin: 10px 0;
}

.tabContents ul li span {
    color: aqua;
    font-size: 14px;
}

.tabContents.active-tab {
    display: block;
}

.tabContents {
    display: none;
}

/* ....................SERVICES............... */
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #01adbd;
    color: #080808;
    transform: translateY(-10px);
}

/* ......................PORTFOLIO..................... */
#portfolio {
    padding: 50px 0;
}

.work img {
    width: 100%;
    height: 270px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px ;
    border: 0.5px solid #370f37;
    position: relative;
    overflow: hidden;
    color: #080808;
}

.work:hover img {
    transform: scale(1.1);
    color: #080808;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), aqua);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 800;
    color: #a1e0f7;
    margin-bottom: 30px;
    /* background: #92ddf3; */
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;

    margin: 50px auto;
    width: fit-content;
    border: 1px solid aqua;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: aqua;
    color: #080808;
}

/* ................CONTACT............. */

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #f04e82;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;

}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: aqua;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: aqua;
    color: #080808;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}

.copyright {
    width: 100%;
    text-align: center;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    padding: 25px 0;
}

.copyright i {
    color: aqua;
}
/* .....................Responsive Web............. */
nav .fas-icons{
    display: none;
}
@media only screen and (max-width: 600px) {
    #header {
        background: linear-gradient(45deg , rgba(0, 0, 0, 0.6), rgba(188, 55, 55, 0.6));
        background-image: none; 
    }
    #header img {
        display: none;
    }
    .header-text {
        margin-top: 30vh;
        font-size: 20px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fas-icons {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 50vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fas-icons {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle {
        font-size: 40px;
        font-weight: 500;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-1 img {
        height: 250px;
    }
    .about-col-2 {
        font-size: 16px;
    }
    
    .about-col-2 .subtitle {
        margin-bottom: 25px;
    }
    #about {
        padding: 30px;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    .copyright {
        font-size: 14px;
    }
    .tab-links {
      margin-right: 15px;  
    } 
}
#msg{
color: #4878f1;
font-size: 20px;
font-weight: 700;
margin-top : -20px ;
display: block;
font-family: 'Courier New', Courier, monospace;
}

.work.work1{
    width: 100%; /* or set a fixed width, e.g., 300px */
    height: 100%; /* or set a fixed height */
    overflow: hidden;
}

.faso{
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 110px;
    color: #f04e82;
}
.cotainer-cert{
    margin-bottom: 100px;
}